guide/workflow/AI问答-技术包装2.yml
app:
  description: AI搜索补充信息到知识库中
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: AI问答-技术包装2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: Initial conversation
    id: 4dc1c506-5896-4a3e-8fab-bd68098cc145
    name: Initial_conversation
    selector:
    - conversation
    - Initial_conversation
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1758946605171-source-1758902818625-target
      source: '1758946605171'
      sourceHandle: source
      target: '1758902818625'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1758900784102-source-1761014009932-target
      source: '1758900784102'
      sourceHandle: source
      target: '1761014009932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1761014009932-true-1758946605171-target
      source: '1761014009932'
      sourceHandle: 'true'
      target: '1758946605171'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1761014009932-false-17610140192390-target
      source: '1761014009932'
      sourceHandle: 'false'
      target: '17610140192390'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17610140192390-source-1758951614757-target
      source: '17610140192390'
      sourceHandle: source
      target: '1758951614757'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1758902818625-source-1761014266514-target
      source: '1758902818625'
      sourceHandle: source
      target: '1761014266514'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1761014266514-source-1758951614757-target
      source: '1761014266514'
      sourceHandle: source
      target: '1758951614757'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 补充信息
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: Additional_information
      height: 88
      id: '1758900784102'
      position:
        x: 9.313351974057298
        y: 206.23846293275886
      positionAbsolute:
        x: 9.313351974057298
        y: 206.23846293275886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '按照 概述- 技术架构- 核心创新点- 测试与认证-应用效果与行业影响​-总结 的结构；

          优先参考内部知识库信息，其次AI检索信息'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 67243642-1348-4fdb-826f-2a7ae1ec144f
          role: system
          text: '你是一位资深的技术报告专家和知识整合师，专门负责将多源信息融合为高质量的结构化技术分析报告。


            **核心职责：**

            - 信息源整合：精准融合内部知识库、专业知识库和技术转译内容

            - 结构化表达：按照标准六模块框架输出专业技术报告

            - 信息溯源标注：清晰标识每部分信息的来源，确保透明度和可信度

            - 知识补充增强：用通俗化转译内容辅助用户理解复杂技术概念

            - 专业性保证：在保持易读性的同时，确保技术内容的准确性和权威性


            **信息处理原则：**

            1. **来源透明化**：明确标注信息来源，便于用户判断可信度

            2. **内容互补性**：用转译内容补充知识库信息的理解难点

            3. **逻辑完整性**：确保六模块间逻辑递进，信息完整覆盖

            4. **价值导向性**：突出技术价值和实际应用意义

            5. **用户友好性**：在专业性和可读性间找到平衡点

            结构化输出指令

            **任务目标**: 整合多源信息，生成透明、完整、易懂的技术分析报告'
        - id: 9def624d-99e5-495f-adb8-2e6153d62822
          role: user
          text: '**任务目标**: 基于用户问题类型，智能适配输出结构，生成透明、完整、易懂的技术分析报告


            **信息输入源**:

            - 用户原始问题：{{#sys.query#}}

            - 内部知识库信息：{{#1758900784102.Additional_information#}}

            - 技术转译内容：{{#1758946605171.text#}}


            **信息源标注规范**:

            - 📚 **[内部知识库]** - 来自企业内部权威技术文档

            - 🔬 **[专业知识库]** - 来自外部专业技术资源

            - 💡 **[技术转译]** - 通俗化解释，辅助理解

            - 🔄 **[综合分析]** - 基于多源信息的整合判断

            - ⚠️ **[信息缺失]** - 知识库中暂无相关信息

            - 🔍 **[推理分析]** - 基于已有信息的合理推测


            **问题类型识别与适配策略**:


            ### A类：完整技术产品分析（适用完整六模块）

            **识别特征**: 询问具体技术产品、系统、解决方案的全面信息

            **示例问题**: "分析XX技术"、"XX产品技术解析"、"XX系统架构分析"

            **输出策略**: 使用完整六模块框架，全面覆盖技术信息


            ### B类：技术原理/概念解释（重点模块：概述+技术架构+总结）

            **识别特征**: 询问技术原理、工作机制、核心概念

            **示例问题**: "XX技术原理是什么"、"XX是如何工作的"、"解释XX概念"

            **输出策略**: 强化概述和技术架构模块，简化其他模块


            ### C类：性能对比分析（重点模块：核心创新+测试认证）

            **识别特征**: 询问技术优势、性能对比、竞争分析

            **示例问题**: "XX技术有什么优势"、"XX vs XX对比"、"XX性能怎么样"

            **输出策略**: 突出创新点和测试数据，强化对比分析


            ### D类：应用场景咨询（重点模块：应用效果+总结）

            **识别特征**: 询问应用场景、实际效果、市场表现

            **示例问题**: "XX技术应用在哪里"、"XX有什么用途"、"XX市场效果如何"

            **输出策略**: 重点展开应用效果模块，提供丰富应用案例


            ### E类：信息不足情况（简化结构+推理补充）

            **识别特征**: 知识库信息严重不足或完全缺失

            **输出策略**: 诚实说明信息限制，基于有限信息进行合理推理和建议


            **智能输出框架**:


            ## 🎯 问题类型判断与输出适配


            **第一步：问题类型识别**

            根据用户问题特征和知识库信息丰富度，自动选择最适合的输出结构：


            ---


            ### 📋 **A类输出：完整技术产品分析**

            *适用于：技术产品全面分析、系统架构解析、完整解决方案介绍*


            ## 📋 概述

            ### 技术/产品定义

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [权威定义]

            💡 **[技术转译]**: [通俗解释，帮助理解核心概念]


            ### 核心理念与架构

            📚 **[内部知识库]**: [核心设计理念]

            💡 **[技术转译]**: [用生活化比喻解释设计思路]


            ### 主要应用领域

            🔬 **[专业知识库]**: [具体应用场景]

            💡 **[技术转译]**: [通俗化的应用价值说明]


            ## ⚙️ 技术架构

            ### 系统架构设计

            📚 **[内部知识库]**: [官方架构说明]

            💡 **[技术转译]**: [架构设计的通俗化解释]


            ### 关键技术组件

            - **[组件类别1]**: 📚 [技术细节] + 💡 [通俗解释]

            - **[组件类别2]**: 🔬 [专业评估] + 💡 [功能说明]


            ### 技术参数与性能指标

            📚 **[内部知识库]**: [官方性能数据]

            💡 **[技术转译]**: [性能数据的实际意义解释]


            ## 🔥 核心创新点

            ### 关键技术突破

            📚 **[内部知识库]**: [官方创新说明]

            💡 **[技术转译]**: [创新点的通俗化价值解释]


            ### 性能提升量化

            📚 **[内部知识库]**: [官方性能数据]

            💡 **[技术转译]**: [性能提升的实际意义]


            ### 竞争优势分析

            🔬 **[专业知识库]**: [与竞品对比]

            🔄 **[综合分析]**: [基于多源信息的竞争力评估]


            ## 🧪 测试与认证

            ### 测试结果对比

            | 测试项目 | 产品表现 | 行业标准 | 数据来源 | 意义解释 |

            |---------|----------|----------|----------|----------|

            | [项目1] | 📚 [内部数据] | 🔬 [行业数据] | [来源标注] | 💡 [通俗解释] |


            ## 🌍 应用效果与行业影响

            ### 直接应用效果

            📚 **[内部知识库]**: [官方应用案例]

            💡 **[技术转译]**: [应用效果的用户体验改善说明]


            ## 💎 总结

            🔄 **[综合分析]**: [技术成就总结]

            💡 **[技术转译]**: [技术价值的通俗化表达]


            ---


            ### 🔍 **B类输出：技术原理/概念解释**

            *适用于：技术原理询问、工作机制解释、核心概念说明*


            ## 📋 概述

            ### 技术定义与核心原理

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [技术定义]

            💡 **[技术转译]**: [用生活化比喻解释核心原理]


            ### 解决的核心问题

            🔄 **[综合分析]**: [技术要解决的关键问题]

            💡 **[技术转译]**: [问题的通俗化描述]


            ## ⚙️ 工作机制详解

            ### 技术实现路径

            📚 **[内部知识库]**: [技术实现方式]

            💡 **[技术转译]**: [工作过程的分步骤通俗说明]


            ### 关键技术环节

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [核心技术环节]

            💡 **[技术转译]**: [每个环节的作用和意义]


            ## 💎 总结

            🔄 **[综合分析]**: [技术原理的核心价值]

            💡 **[技术转译]**: [对用户的实际意义]


            ---


            ### ⚡ **C类输出：性能对比分析**

            *适用于：技术优势询问、性能对比、竞争分析*


            ## 📋 概述

            ### 技术定位与特点

            📚 **[内部知识库]**: [技术基本信息]

            💡 **[技术转译]**: [技术特点的通俗解释]


            ## 🔥 核心优势分析

            ### 关键性能指标

            📚 **[内部知识库]**: [官方性能数据]

            🔬 **[专业知识库]**: [第三方评估数据]

            💡 **[技术转译]**: [性能优势的实际意义]


            ### 竞争对比分析

            | 对比维度 | 本技术 | 竞品技术 | 优势程度 | 实际意义 |

            |---------|--------|----------|----------|----------|

            | [维度1] | 📚 [数据] | 🔬 [数据] | [优势] | 💡 [解释] |


            ## 🧪 验证数据

            ### 测试结果

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [权威测试数据]

            💡 **[技术转译]**: [测试结果的用户价值]


            ## 💎 总结

            🔄 **[综合分析]**: [综合竞争力评估]


            ---


            ### 🌍 **D类输出：应用场景咨询**

            *适用于：应用场景询问、实际效果了解、市场表现咨询*


            ## 📋 概述

            ### 技术简介

            📚 **[内部知识库]**: [技术基本定义]

            💡 **[技术转译]**: [技术的通俗化说明]


            ## 🌍 应用场景全景

            ### 主要应用领域

            📚 **[内部知识库]**: [官方应用案例]

            🔬 **[专业知识库]**: [市场应用情况]

            💡 **[技术转译]**: [应用场景的具体价值]


            ### 典型使用案例

            📚 **[内部知识库]**: [具体案例]

            💡 **[技术转译]**: [案例效果的用户体验改善]


            ### 适用场景分析

            🔄 **[综合分析]**: [最适合的使用场景]

            💡 **[技术转译]**: [选择建议和注意事项]


            ## 💎 总结

            🔄 **[综合分析]**: [应用价值总结]

            💡 **[技术转译]**: [对用户的实际价值]


            ---


            ### ⚠️ **E类输出：信息不足情况**

            *适用于：知识库信息缺失或严重不足的情况*


            ## 📋 当前信息状况

            ### 可获取信息

            📚 **[内部知识库]**: [有限的内部信息]

            🔬 **[专业知识库]**: [有限的专业信息]

            ⚠️ **[信息缺失]**: [明确标注缺失的关键信息]


            ### 基于现有信息的分析

            🔍 **[推理分析]**: [基于有限信息的合理推测]

            💡 **[技术转译]**: [推测内容的通俗化解释]


            ## 💎 建议与下一步

            🔄 **[综合分析]**: [建议的信息获取途径]

            💡 **[技术转译]**: [用户可以采取的行动建议]


            ---


            **输出执行逻辑**:

            1. **问题类型判断**: 分析用户问题特征和信息丰富度

            2. **结构自适应**: 选择最适合的输出框架（A/B/C/D/E类）

            3. **信息源整合**: 标注所有信息来源，确保透明度

            4. **技术转译增强**: 为每个技术点提供通俗化理解

            5. **质量保证**: 确保逻辑完整、信息准确、用户友好


            **输出质量标准**:

            ✅ 信息来源透明，可追溯验证

            ✅ 技术内容准确，逻辑完整

            ✅ 结构清晰，层次分明

            ✅ 专业性与可读性平衡

            ✅ 突出技术价值和实际应用意义


            请基于以上框架生成结构化技术分析报告。'
        selected: false
        title: 整合后结构化输出
        type: llm
        variables: []
        vision:
          enabled: false
      height: 180
      id: '1758902818625'
      position:
        x: 1383.2291243347436
        y: 84.17026259905379
      positionAbsolute:
        x: 1383.2291243347436
        y: 84.17026259905379
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 针对技术信息进行转译，让用户更容易理解
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: bedafe78-7ce4-4017-aa02-98758be42d52
          role: system
          text: '你是一位专业的技术翻译专家，擅长将复杂的技术原理转化为普通用户能够理解的清晰表达。


            **核心使命：**

            将晦涩难懂的技术术语、复杂的工作原理、抽象的技术概念，翻译成生动易懂、逻辑清晰的日常语言，让非技术背景的用户也能快速理解技术本质。


            **翻译原则：**

            1. **保持技术准确性**：翻译过程不能改变技术事实和核心原理

            2. **降低理解门槛**：用生活化的比喻和具体的例子解释抽象概念

            3. **突出核心价值**：让用户明白"这个技术是做什么的"、"为什么重要"

            4. **循序渐进**：从简单概念入手，逐步深入技术细节

            5. **避免行话堆砌**：减少专业术语，必要时提供通俗解释

            '
        - id: f5cab65d-29fa-4e06-a0db-559f407dc479
          role: user
          text: '**翻译目标**: 将知识库检索到的技术信息，转化为用户友好的通俗表达


            **输入材料**:

            - 用户问题：{{#sys.query#}}

            - 内部知识库信息：{{#1758900784102.Additional_information#}}


            **翻译策略**:


            ### 1. 技术概念通俗化

            **原则**: 复杂概念 → 简单比喻

            - **专业术语** → **日常词汇** + 简短解释

            - **抽象原理** → **生活化类比** + 具体例子

            - **技术流程** → **分步骤说明** + 通俗描述


            **示例转换**:

            - "神经网络算法" → "模仿人脑思考方式的计算方法"

            - "分布式架构" → "把任务分给多台电脑协同完成，就像团队合作"

            - "机器学习模型" → "让计算机通过大量练习变得更聪明的程序"


            ### 2. 数据表达人性化

            **原则**: 冰冷数字 → 有意义对比

            - **性能提升X%** → **相当于从A提升到B的水平**

            - **处理速度XXms** → **快到人眼无法察觉**

            - **准确率XX%** → **100次中有XX次是对的**


            **示例转换**:

            - "延迟降低90%" → "响应速度提升10倍，从等1秒变成0.1秒"

            - "能耗降低50%" → "用电量减半，相当于省了一半电费"


            ### 3. 技术价值可视化

            **原则**: 技术特性 → 用户获益

            - **技术优势** → **实际好处** + 使用场景

            - **创新突破** → **解决的具体问题**

            - **应用效果** → **用户体验改善**


            **示例转换**:

            - "算法优化" → "让手机拍照更清晰、识别更准确"

            - "架构升级" → "网站打开更快，不会卡顿"


            ### 4. 复杂流程简化

            **原则**: 技术流程 → 分步骤故事

            - 用"首先...然后...最后..."的叙述方式

            - 每个步骤用一句话说清楚目的

            - 避免技术实现细节，突出逻辑关系


            **翻译技巧库**:


            🔄 **常用技术比喻**:

            - 数据库 → 智能仓库管理系统

            - 云计算 → 租用别人的超级电脑

            - 人工智能 → 训练出来的智能助手

            - 区块链 → 大家共同记账的账本

            - 大数据 → 从海量信息中找规律


            📊 **数据翻译模板**:

            - "提升X倍" → "相当于原来的X倍效果"

            - "准确率XX%" → "10次中有X次完全正确"

            - "延迟Xms" → "反应时间只需要X毫秒（比眨眼还快）"


            🎯 **价值表达模板**:

            - "这项技术的核心价值是..."

            - "对用户来说，最直接的好处是..."

            - "相比传统方法，新技术让..."

            - "在实际使用中，用户会发现..."


            **输出要求**:

            1. **开篇概括**: 用1-2句话说明这是什么技术，解决什么问题

            2. **原理解释**: 用比喻和例子说明工作原理，避免技术术语堆砌

            3. **关键特点**: 突出3-5个最重要的技术特点，用通俗语言描述

            4. **实际价值**: 明确说明用户能获得什么好处，改善什么体验

            5. **应用场景**: 举例说明在哪些情况下会用到这项技术


            **语言风格**:

            - 使用主动语态，避免被动表达

            - 多用短句，减少长难句

            - 适当使用疑问句引发思考

            - 保持客观中性，避免过度营销化表达


            **质量检验**:

            ✅ 非技术人员能否快速理解？

            ✅ 技术原理是否表达准确？

            ✅ 比喻和例子是否恰当？

            ✅ 是否突出了用户价值？

            ✅ 语言是否简洁友好？


            请开始进行技术信息的通俗化翻译。'
        selected: false
        title: 技术转译
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: '1758946605171'
      position:
        x: 1019.2554136095694
        y: 84.17026259905379
      positionAbsolute:
        x: 1019.2554136095694
        y: 84.17026259905379
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1758902818625.reasoning_content#}}

          {{#1758902818625.text#}}


          {{#17610140192390.reasoning_content#}}

          {{#17610140192390.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 159
      id: '1758951614757'
      position:
        x: 2395.8172225668586
        y: 84.17026259905379
      positionAbsolute:
        x: 2395.8172225668586
        y: 84.17026259905379
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 25c77f20-46b5-4f65-84bc-5e7065a0e494
            value: '1'
            varType: number
            variable_selector:
            - sys
            - dialogue_count
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1761014009932'
      position:
        x: 467.27254676234094
        y: 206.23846293275886
      positionAbsolute:
        x: 467.27254676234094
        y: 206.23846293275886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '按照 概述- 技术架构- 核心创新点- 测试与认证-应用效果与行业影响​-总结 的结构；

          优先参考内部知识库信息，其次AI检索信息'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 67243642-1348-4fdb-826f-2a7ae1ec144f
          role: system
          text: '你是一位资深的技术报告专家和知识整合师，专门负责将多源信息融合为高质量的结构化技术分析报告。


            **核心职责：**

            - 信息源整合：精准融合内部知识库、专业知识库和技术转译内容

            - 结构化表达：按照标准六模块框架输出专业技术报告

            - 信息溯源标注：清晰标识每部分信息的来源，确保透明度和可信度

            - 知识补充增强：用通俗化转译内容辅助用户理解复杂技术概念

            - 专业性保证：在保持易读性的同时，确保技术内容的准确性和权威性


            **信息处理原则：**

            1. **来源透明化**：明确标注信息来源，便于用户判断可信度

            2. **内容互补性**：用转译内容补充知识库信息的理解难点

            3. **逻辑完整性**：确保六模块间逻辑递进，信息完整覆盖

            4. **价值导向性**：突出技术价值和实际应用意义

            5. **用户友好性**：在专业性和可读性间找到平衡点

            结构化输出指令

            **任务目标**: 整合多源信息，生成透明、完整、易懂的技术分析报告'
        - id: 9def624d-99e5-495f-adb8-2e6153d62822
          role: user
          text: '**任务目标**: 基于用户问题类型，智能适配输出结构，生成透明、完整、易懂的技术分析报告


            **信息输入源**:

            - 用户原始问题：{{#sys.query#}}

            - 初始回答：{{#conversation.Initial_conversation#}}


            **信息源标注规范**:

            - 📚 **[内部知识库]** - 来自企业内部权威技术文档

            - 🔬 **[专业知识库]** - 来自外部专业技术资源

            - 💡 **[技术转译]** - 通俗化解释，辅助理解

            - 🔄 **[综合分析]** - 基于多源信息的整合判断

            - ⚠️ **[信息缺失]** - 知识库中暂无相关信息

            - 🔍 **[推理分析]** - 基于已有信息的合理推测


            **问题类型识别与适配策略**:


            ### A类：完整技术产品分析（适用完整六模块）

            **识别特征**: 询问具体技术产品、系统、解决方案的全面信息

            **示例问题**: "分析XX技术"、"XX产品技术解析"、"XX系统架构分析"

            **输出策略**: 使用完整六模块框架，全面覆盖技术信息


            ### B类：技术原理/概念解释（重点模块：概述+技术架构+总结）

            **识别特征**: 询问技术原理、工作机制、核心概念

            **示例问题**: "XX技术原理是什么"、"XX是如何工作的"、"解释XX概念"

            **输出策略**: 强化概述和技术架构模块，简化其他模块


            ### C类：性能对比分析（重点模块：核心创新+测试认证）

            **识别特征**: 询问技术优势、性能对比、竞争分析

            **示例问题**: "XX技术有什么优势"、"XX vs XX对比"、"XX性能怎么样"

            **输出策略**: 突出创新点和测试数据，强化对比分析


            ### D类：应用场景咨询（重点模块：应用效果+总结）

            **识别特征**: 询问应用场景、实际效果、市场表现

            **示例问题**: "XX技术应用在哪里"、"XX有什么用途"、"XX市场效果如何"

            **输出策略**: 重点展开应用效果模块，提供丰富应用案例


            ### E类：信息不足情况（简化结构+推理补充）

            **识别特征**: 知识库信息严重不足或完全缺失

            **输出策略**: 诚实说明信息限制，基于有限信息进行合理推理和建议


            **智能输出框架**:


            ## 🎯 问题类型判断与输出适配


            **第一步：问题类型识别**

            根据用户问题特征和知识库信息丰富度，自动选择最适合的输出结构：


            ---


            ### 📋 **A类输出：完整技术产品分析**

            *适用于：技术产品全面分析、系统架构解析、完整解决方案介绍*


            ## 📋 概述

            ### 技术/产品定义

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [权威定义]

            💡 **[技术转译]**: [通俗解释，帮助理解核心概念]


            ### 核心理念与架构

            📚 **[内部知识库]**: [核心设计理念]

            💡 **[技术转译]**: [用生活化比喻解释设计思路]


            ### 主要应用领域

            🔬 **[专业知识库]**: [具体应用场景]

            💡 **[技术转译]**: [通俗化的应用价值说明]


            ## ⚙️ 技术架构

            ### 系统架构设计

            📚 **[内部知识库]**: [官方架构说明]

            💡 **[技术转译]**: [架构设计的通俗化解释]


            ### 关键技术组件

            - **[组件类别1]**: 📚 [技术细节] + 💡 [通俗解释]

            - **[组件类别2]**: 🔬 [专业评估] + 💡 [功能说明]


            ### 技术参数与性能指标

            📚 **[内部知识库]**: [官方性能数据]

            💡 **[技术转译]**: [性能数据的实际意义解释]


            ## 🔥 核心创新点

            ### 关键技术突破

            📚 **[内部知识库]**: [官方创新说明]

            💡 **[技术转译]**: [创新点的通俗化价值解释]


            ### 性能提升量化

            📚 **[内部知识库]**: [官方性能数据]

            💡 **[技术转译]**: [性能提升的实际意义]


            ### 竞争优势分析

            🔬 **[专业知识库]**: [与竞品对比]

            🔄 **[综合分析]**: [基于多源信息的竞争力评估]


            ## 🧪 测试与认证

            ### 测试结果对比

            | 测试项目 | 产品表现 | 行业标准 | 数据来源 | 意义解释 |

            |---------|----------|----------|----------|----------|

            | [项目1] | 📚 [内部数据] | 🔬 [行业数据] | [来源标注] | 💡 [通俗解释] |


            ## 🌍 应用效果与行业影响

            ### 直接应用效果

            📚 **[内部知识库]**: [官方应用案例]

            💡 **[技术转译]**: [应用效果的用户体验改善说明]


            ## 💎 总结

            🔄 **[综合分析]**: [技术成就总结]

            💡 **[技术转译]**: [技术价值的通俗化表达]


            ---


            ### 🔍 **B类输出：技术原理/概念解释**

            *适用于：技术原理询问、工作机制解释、核心概念说明*


            ## 📋 概述

            ### 技术定义与核心原理

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [技术定义]

            💡 **[技术转译]**: [用生活化比喻解释核心原理]


            ### 解决的核心问题

            🔄 **[综合分析]**: [技术要解决的关键问题]

            💡 **[技术转译]**: [问题的通俗化描述]


            ## ⚙️ 工作机制详解

            ### 技术实现路径

            📚 **[内部知识库]**: [技术实现方式]

            💡 **[技术转译]**: [工作过程的分步骤通俗说明]


            ### 关键技术环节

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [核心技术环节]

            💡 **[技术转译]**: [每个环节的作用和意义]


            ## 💎 总结

            🔄 **[综合分析]**: [技术原理的核心价值]

            💡 **[技术转译]**: [对用户的实际意义]


            ---


            ### ⚡ **C类输出：性能对比分析**

            *适用于：技术优势询问、性能对比、竞争分析*


            ## 📋 概述

            ### 技术定位与特点

            📚 **[内部知识库]**: [技术基本信息]

            💡 **[技术转译]**: [技术特点的通俗解释]


            ## 🔥 核心优势分析

            ### 关键性能指标

            📚 **[内部知识库]**: [官方性能数据]

            🔬 **[专业知识库]**: [第三方评估数据]

            💡 **[技术转译]**: [性能优势的实际意义]


            ### 竞争对比分析

            | 对比维度 | 本技术 | 竞品技术 | 优势程度 | 实际意义 |

            |---------|--------|----------|----------|----------|

            | [维度1] | 📚 [数据] | 🔬 [数据] | [优势] | 💡 [解释] |


            ## 🧪 验证数据

            ### 测试结果

            📚 **[内部知识库]** + 🔬 **[专业知识库]**: [权威测试数据]

            💡 **[技术转译]**: [测试结果的用户价值]


            ## 💎 总结

            🔄 **[综合分析]**: [综合竞争力评估]


            ---


            ### 🌍 **D类输出：应用场景咨询**

            *适用于：应用场景询问、实际效果了解、市场表现咨询*


            ## 📋 概述

            ### 技术简介

            📚 **[内部知识库]**: [技术基本定义]

            💡 **[技术转译]**: [技术的通俗化说明]


            ## 🌍 应用场景全景

            ### 主要应用领域

            📚 **[内部知识库]**: [官方应用案例]

            🔬 **[专业知识库]**: [市场应用情况]

            💡 **[技术转译]**: [应用场景的具体价值]


            ### 典型使用案例

            📚 **[内部知识库]**: [具体案例]

            💡 **[技术转译]**: [案例效果的用户体验改善]


            ### 适用场景分析

            🔄 **[综合分析]**: [最适合的使用场景]

            💡 **[技术转译]**: [选择建议和注意事项]


            ## 💎 总结

            🔄 **[综合分析]**: [应用价值总结]

            💡 **[技术转译]**: [对用户的实际价值]


            ---


            ### ⚠️ **E类输出：信息不足情况**

            *适用于：知识库信息缺失或严重不足的情况*


            ## 📋 当前信息状况

            ### 可获取信息

            📚 **[内部知识库]**: [有限的内部信息]

            🔬 **[专业知识库]**: [有限的专业信息]

            ⚠️ **[信息缺失]**: [明确标注缺失的关键信息]


            ### 基于现有信息的分析

            🔍 **[推理分析]**: [基于有限信息的合理推测]

            💡 **[技术转译]**: [推测内容的通俗化解释]


            ## 💎 建议与下一步

            🔄 **[综合分析]**: [建议的信息获取途径]

            💡 **[技术转译]**: [用户可以采取的行动建议]


            ---


            **输出执行逻辑**:

            1. **问题类型判断**: 分析用户问题特征和信息丰富度

            2. **结构自适应**: 选择最适合的输出框架（A/B/C/D/E类）

            3. **信息源整合**: 标注所有信息来源，确保透明度

            4. **技术转译增强**: 为每个技术点提供通俗化理解

            5. **质量保证**: 确保逻辑完整、信息准确、用户友好


            **输出质量标准**:

            ✅ 信息来源透明，可追溯验证

            ✅ 技术内容准确，逻辑完整

            ✅ 结构清晰，层次分明

            ✅ 专业性与可读性平衡

            ✅ 突出技术价值和实际应用意义


            请基于以上框架生成结构化技术分析报告。'
        selected: false
        title: 二次修改
        type: llm
        variables: []
        vision:
          enabled: false
      height: 180
      id: '17610140192390'
      position:
        x: 1383.2291243347436
        y: 386.6464874095844
      positionAbsolute:
        x: 1383.2291243347436
        y: 386.6464874095844
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1758902818625'
          - text
          variable_selector:
          - conversation
          - Initial_conversation
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 84
      id: '1761014266514'
      position:
        x: 1827.5915353817377
        y: 84.17026259905379
      positionAbsolute:
        x: 1827.5915353817377
        y: 84.17026259905379
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1183.1608988415132
      y: 390.1172878430366
      zoom: 1.041189950606812
  rag_pipeline_variables: []
