guide/workflow/robot1-技术包装.yml
app:
  description: simple
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: robot1-技术包装
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1760575026110-source-1760575029885-target
      source: '1760575026110'
      sourceHandle: source
      target: '1760575029885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1760575029885-source-1760575033371-target
      source: '1760575029885'
      sourceHandle: source
      target: '1760575033371'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1760575033371-source-1760575036524-target
      source: '1760575033371'
      sourceHandle: source
      target: '1760575036524'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: true
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 上游信息
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: input1
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: 附件上传
          max_length: 5
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: input2
        - default: ''
          hint: ''
          label: 优化建议
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: input3
      height: 140
      id: '1760575026110'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: dfad2e4a-6ee3-4a57-9997-59ecee7c4f15
          role: system
          text: ''
        selected: false
        title: 上游信息解读
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1760575029885'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 476e0b9b-691b-498f-aeca-df7ba909ec94
          role: system
          text: ''
        selected: false
        title: 信息整合输出
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1760575033371'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1760575033371'
          - text
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 89
      id: '1760575036524'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -154
      y: 97
      zoom: 1
  rag_pipeline_variables: []
